@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #586670;
  background-size: cover;
  color: #fff;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 4px;
  height: 4px;
  background-color: #050307;
}
::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 2px;
  background-color: #fff;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
code {
  font-family: 'Open Sans', sans-serif;
}
