@import "./src/static/colors.scss";

.sideBarBtn{
    outline: none;
    background-color: transparent;
    border: none;
    width: 10vw;
    height: 8vh;
    display: inline;
    

    &:hover, :focus, :active{
        background-color: #f8f8f8;
        border: 1px solid #dddddd;
    }
}