@import "./src/static/colors.scss";

.chatUser{
    width: 50vw;
    box-shadow: 0 0 10px $shadowMessage;
    border-radius: 5px;
    margin: 20px;
    margin-left: 200px;
    position: relative;
    &_upper{
        background-color: $peachy;
        border-radius: 5px 5px 0 0;
        padding: 14px 17px 12px;
    }
    &__name{
        color: black;
        margin: 0;
        font-size: 14px;
    }
    &__time{
        color: $timeColor;
        display: inline;
        margin-left: 472px;
        font-size: 14px;
    }
    &_lower{
        background-color: $whiteColor;
        border-radius: 0 0 5px 5px;
    }
    &__triangle{
        border: 9px solid transparent; border-left: 9px solid white;
        position: absolute;
        left: 640px;
        top: 58px;
    }
    &__message{
        color: black;
        font-size: 14px;
        font-weight: 600;
        padding: 14px 17px 19px;
    }
}